.omc/n8n-workflows/01-aldeci-daily-posture-report.json
{
  "name": "ALDECI Daily Posture Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger (6am UTC)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/platform/health",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Fetch Platform Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/kpi/summary",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Fetch KPI Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "jsCode": "const health = $('Fetch Platform Health').first().json;\nconst kpi = $('Fetch KPI Summary').first().json;\n\nconst today = new Date().toISOString().split('T')[0];\nconst status = health.status || 'unknown';\nconst score = health.posture_score || health.score || 'N/A';\nconst mttd = kpi.mttd_hours || kpi.mttd || 'N/A';\nconst mttr = kpi.mttr_hours || kpi.mttr || 'N/A';\nconst openVulns = health.open_vulnerabilities || 'N/A';\nconst criticalAlerts = health.critical_alerts || 'N/A';\n\nconst subject = `ALDECI Daily Posture Report — ${today}`;\nconst body = `\n# ALDECI Security Posture Report\n**Date:** ${today}\n**Platform Status:** ${status.toUpperCase()}\n\n## Key Metrics\n| Metric | Value |\n|--------|-------|\n| Posture Score | ${score} |\n| Open Vulnerabilities | ${openVulns} |\n| Critical Alerts | ${criticalAlerts} |\n| MTTD | ${mttd}h |\n| MTTR | ${mttr}h |\n\n## Raw Health Data\n\\`\\`\\`json\n${JSON.stringify(health, null, 2)}\n\\`\\`\\`\n\n---\n*Generated by ALDECI Beast Mode — ${new Date().toISOString()}*\n*Dashboard: http://localhost:5173*\n`;\n\nreturn [{ json: { subject, body, date: today } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Format Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 380]
    },
    {
      "parameters": {
        "url": "={{ $env.ALDECI_REPORT_WEBHOOK || 'https://hooks.slack.com/services/REPLACE_ME' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.subject + '\\n\\n' + $json.body }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Send via Webhook (Slack/Email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 380]
    }
  ],
  "connections": {
    "Schedule Trigger (6am UTC)": {
      "main": [
        [
          { "node": "Fetch Platform Health", "type": "main", "index": 0 },
          { "node": "Fetch KPI Summary", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Platform Health": {
      "main": [[{ "node": "Format Report", "type": "main", "index": 0 }]]
    },
    "Fetch KPI Summary": {
      "main": [[{ "node": "Format Report", "type": "main", "index": 0 }]]
    },
    "Format Report": {
      "main": [[{ "node": "Send via Webhook (Slack/Email)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["aldeci", "reporting", "scheduled"],
  "meta": {
    "instanceId": "aldeci-beast-mode"
  },
  "pinData": {}
}
