.omc/n8n-workflows/02-critical-alert-escalation.json
{
  "name": "ALDECI Critical Alert Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aldeci-critical-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "webhookId": "aldeci-critical-alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "severity-check",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.first().json;\nconst now = new Date().toISOString();\n\nconst severity = (alert.severity || 'unknown').toUpperCase();\nconst title = alert.title || alert.name || 'Security Alert';\nconst description = alert.description || alert.message || 'No description provided';\nconst source = alert.source || alert.engine || 'ALDECI';\nconst org = alert.org_id || 'default';\nconst alertId = alert.id || alert.alert_id || 'N/A';\nconst cvss = alert.cvss_score || alert.risk_score || 'N/A';\n\nconst slackPayload = {\n  text: `🚨 *CRITICAL SECURITY ALERT* 🚨`,\n  attachments: [\n    {\n      color: '#FF0000',\n      blocks: [\n        {\n          type: 'section',\n          text: {\n            type: 'mrkdwn',\n            text: `*${title}*\\n${description}`\n          }\n        },\n        {\n          type: 'fields',\n          fields: [\n            { type: 'mrkdwn', text: `*Severity:*\\n${severity}` },\n            { type: 'mrkdwn', text: `*Source:*\\n${source}` },\n            { type: 'mrkdwn', text: `*Alert ID:*\\n${alertId}` },\n            { type: 'mrkdwn', text: `*Risk Score:*\\n${cvss}` },\n            { type: 'mrkdwn', text: `*Org:*\\n${org}` },\n            { type: 'mrkdwn', text: `*Time:*\\n${now}` }\n          ]\n        },\n        {\n          type: 'actions',\n          elements: [\n            {\n              type: 'button',\n              text: { type: 'plain_text', text: 'View in ALDECI' },\n              url: `http://localhost:5173/incident-response?alert_id=${alertId}`,\n              style: 'danger'\n            }\n          ]\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{ json: { slackPayload, alert, escalated_at: now } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Format Slack Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 220]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_SECURITY_WEBHOOK || 'https://hooks.slack.com/services/REPLACE_WITH_YOUR_SLACK_WEBHOOK' }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Post to Slack #security-alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 220]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/incident-triage/auto-triage",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ alert_id: $('Webhook Trigger').first().json.id, org_id: $('Webhook Trigger').first().json.org_id || 'default', auto_escalate: true }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Auto-Triage in ALDECI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 380]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'escalated', alert_id: $('Webhook Trigger').first().json.id, timestamp: new Date().toISOString() }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Respond to Caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ignored', reason: 'not_critical', severity: $input.first().json.severity }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Respond Not Critical",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Is Critical?", "type": "main", "index": 0 }]]
    },
    "Is Critical?": {
      "main": [
        [{ "node": "Format Slack Escalation", "type": "main", "index": 0 }],
        [{ "node": "Respond Not Critical", "type": "main", "index": 0 }]
      ]
    },
    "Format Slack Escalation": {
      "main": [
        [
          { "node": "Post to Slack #security-alerts", "type": "main", "index": 0 },
          { "node": "Auto-Triage in ALDECI", "type": "main", "index": 0 }
        ]
      ]
    },
    "Post to Slack #security-alerts": {
      "main": [[{ "node": "Respond to Caller", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["aldeci", "alerting", "slack", "escalation"],
  "meta": {
    "instanceId": "aldeci-beast-mode"
  },
  "pinData": {},
  "_comment": "Webhook URL after import: http://localhost:5678/webhook/aldeci-critical-alert. POST JSON: {id, severity, title, description, source, org_id, risk_score}"
}
