.omc/n8n-workflows/03-weekly-compliance-summary.json
{
  "name": "ALDECI Weekly Compliance Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000001",
      "name": "Schedule Trigger (Monday 8am)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/compliance/status",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000002",
      "name": "Fetch Compliance Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 220]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/compliance-gaps/summary",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000003",
      "name": "Fetch Compliance Gaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 380]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/compliance-mapping/coverage",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000004",
      "name": "Fetch Framework Coverage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 540]
    },
    {
      "parameters": {
        "jsCode": "const compliance = $('Fetch Compliance Status').first().json;\nconst gaps = $('Fetch Compliance Gaps').first().json;\nconst coverage = $('Fetch Framework Coverage').first().json;\n\nconst weekStart = new Date();\nweekStart.setDate(weekStart.getDate() - 7);\nconst weekLabel = `${weekStart.toISOString().split('T')[0]} to ${new Date().toISOString().split('T')[0]}`;\n\n// Extract framework scores\nconst frameworks = compliance.frameworks || compliance.results || {};\nconst frameworkRows = Object.entries(frameworks)\n  .map(([name, data]) => {\n    const score = typeof data === 'object' ? (data.score || data.compliance_pct || 'N/A') : data;\n    const status = score >= 80 ? 'PASS' : score >= 60 ? 'WARN' : 'FAIL';\n    return `| ${name.toUpperCase()} | ${score}% | ${status} |`;\n  }).join('\\n') || '| No framework data available | — | — |';\n\n// Gap summary\nconst totalGaps = gaps.total_gaps || gaps.count || 'N/A';\nconst criticalGaps = gaps.critical_gaps || gaps.critical || 'N/A';\nconst highGaps = gaps.high_gaps || gaps.high || 'N/A';\n\n// Coverage\nconst overallCoverage = coverage.overall_coverage || coverage.pct || 'N/A';\n\nconst subject = `[ALDECI] Weekly Compliance Summary — ${weekLabel}`;\nconst body = `\n# ALDECI Weekly Compliance Summary\n**Period:** ${weekLabel}\n**Generated:** ${new Date().toISOString()}\n\n## Framework Compliance Scores\n| Framework | Score | Status |\n|-----------|-------|--------|\n${frameworkRows}\n\n## Compliance Gaps\n| Category | Count |\n|----------|-------|\n| Total Open Gaps | ${totalGaps} |\n| Critical Gaps | ${criticalGaps} |\n| High Priority Gaps | ${highGaps} |\n\n## Overall Control Coverage\n**Coverage:** ${overallCoverage}%\n\n## Action Items for This Week\n1. Review and remediate all CRITICAL compliance gaps\n2. Update evidence for controls approaching audit deadlines\n3. Schedule remediation tasks for HIGH priority gaps\n\n## Links\n- Compliance Dashboard: http://localhost:5173/compliance\n- Gap Analysis: http://localhost:5173/gap-analysis\n- Compliance Mapping: http://localhost:5173/compliance-mapping\n- Compliance Calendar: http://localhost:5173/compliance-calendar\n\n---\n*ALDECI Beast Mode — Automated Weekly Report*\n`;\n\nconst slackPayload = {\n  text: `📊 *Weekly Compliance Summary* — ${weekLabel}`,\n  blocks: [\n    {\n      type: 'header',\n      text: { type: 'plain_text', text: '📊 Weekly Compliance Summary' }\n    },\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `*Period:* ${weekLabel}\\n*Total Gaps:* ${totalGaps} | *Critical:* ${criticalGaps} | *Control Coverage:* ${overallCoverage}%`\n      }\n    },\n    {\n      type: 'actions',\n      elements: [\n        {\n          type: 'button',\n          text: { type: 'plain_text', text: 'View Compliance Dashboard' },\n          url: 'http://localhost:5173/compliance'\n        },\n        {\n          type: 'button',\n          text: { type: 'plain_text', text: 'View Gap Analysis' },\n          url: 'http://localhost:5173/gap-analysis'\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{ json: { subject, body, slackPayload, weekLabel } }];"
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000005",
      "name": "Format Compliance Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 380]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_COMPLIANCE_WEBHOOK || $env.SLACK_SECURITY_WEBHOOK || 'https://hooks.slack.com/services/REPLACE_ME' }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json.slackPayload) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000006",
      "name": "Post to Slack #compliance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/api/v1/regulatory-reporting/auto-generate",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ report_type: 'weekly_summary', period: $json.weekLabel, auto_distribute: false }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "c3d4e5f6-0003-0003-0003-000000000007",
      "name": "Store Report in ALDECI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 460]
    }
  ],
  "connections": {
    "Schedule Trigger (Monday 8am)": {
      "main": [
        [
          { "node": "Fetch Compliance Status", "type": "main", "index": 0 },
          { "node": "Fetch Compliance Gaps", "type": "main", "index": 0 },
          { "node": "Fetch Framework Coverage", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Compliance Status": {
      "main": [[{ "node": "Format Compliance Report", "type": "main", "index": 0 }]]
    },
    "Fetch Compliance Gaps": {
      "main": [[{ "node": "Format Compliance Report", "type": "main", "index": 0 }]]
    },
    "Fetch Framework Coverage": {
      "main": [[{ "node": "Format Compliance Report", "type": "main", "index": 0 }]]
    },
    "Format Compliance Report": {
      "main": [
        [
          { "node": "Post to Slack #compliance", "type": "main", "index": 0 },
          { "node": "Store Report in ALDECI", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["aldeci", "compliance", "weekly", "reporting"],
  "meta": {
    "instanceId": "aldeci-beast-mode"
  },
  "pinData": {}
}
